
#header {
    height: 30px;
  }

 
 
  #noDrawings {
    margin-right: -200px;
    display: none;
    margin-top:10px;
  }
  
  /* The whole thing */
  .custom-menu, .custom-menu2, .custom-menu-delete{
      display: none;
      z-index: 1000;
      position: absolute;
      overflow: hidden;
      border: 1px solid #CCC;
      white-space: nowrap;
      font-family: sans-serif;
      background: #FFF;
      color: #333;
      border-radius: 5px;
      padding: 0;
  }
  
  /* Each of the items in the list */
  .custom-menu li, .custom-menu2 li, .custom-menu-delete li {
      padding: 8px 12px;
      cursor: pointer;
      list-style-type: none;
      transition: all .3s ease;
      user-select: none;
  }
  
  .custom-menu li:hover,  .custom-menu2 li:hover, .custom-menu-delete li:hover {
      background-color: #DEF;
  }
  
  .drawing-area-class {
    width: 100%;
  }
  
  .calendar {
      position: absolute;
      left: 0px;
      top: 0px;
  }
  
  /*
  .smallMutipless{
    margin-top:548px;
    position: absolute;
  
  }*/
  
  .drawingCursor {
    cursor: crosshair;
  }
  
  #header {
    position: relative;
    margin: 0 auto 0;
    padding-top: 0px;
    /*height: 60px;*/
    /*margin-bottom: 80px;*/
  }
  
  body{
      margin:0;
      /*overflow-y:hidden;*/
      overflow-x:hidden;

  }
  #app {
    font-family:'Comfortaa', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    font-weight: lighter;
  }
  
  .selected {
    background-color: #1471ed66 !important;
  }
  
  .selectedCategory {
    border: 1.5px dotted !important;
  }
  
  
  .buttonGroup {
    float:left;
    visibility:hidden;
    margin-left:18px;
  }
  
  .modal{
    position: absolute;
    float: left;
    left: 33%;
    top: 30%;
    display:block;
    width:30%;
    font-size: 12px;
    /*height:50%;*/
  }
  
  .headerbtn{
    float:right;
  }
  
  #addCategory {
    margin-left: 30px;
    margin-top: 3px;
    float:left;
    width:150px;
    height:30px;
    border: 1px solid lightgrey;
    border-radius: 5px; 
    font-size:12px;
  }
  .desc {
    margin-bottom: 16px;
    margin-top: 60px;
    margin-left:-115px;
  }

  #SaveBTN {
    float:left;
    margin-top: 3px !important;
  }
  
  ::placeholder{
    font-size:12px;
    color: lightgray;
  }
  
  .modal-sm {
    margin-left:-130px;
  }
  
  .selector {
    width:100px;
   
  }
  /*
  #chart, .headers, #month {
    color: #ccc4c4; 
  }*/
  
  .propleft {
    float:left;
    margin-left:10px;
  }
  
  .btn-secondary, .btn-primary, .btn-default, .fileupload, .custom-menu, .custom-menu2,  .custom-menu-delete, .drawingbuttons{
    font-size:10px !important;
    margin:2px !important;
    background-color: white !important;
    border: 1px solid lightgray !important;

  }
  p, .imagetitles {
    font-size: 10px;
    text-align:left;
    float:left;
    color: lightgrey;

  }
  
  .btn-default {
    border: 1px solid lightgray;
  }
  
  #forward, .headerbtn {
    float:right;
    margin-right:20px;
  }
  #back {
    float:left;
    margin-left:55px;
  }
  
  
  #chart {
    position:absolute;
    width:1080px;
    height:455px;
    left: 20px;
    bottom: 30px;
  }
  #calendar {
    z-index:1;
  }
  
  #categorySection{
    float:right;
    width:400px;
    margin-top:-200px;
  }
  
  .drawingbuttons{
    float:left;
  }
  
  #save{
    margin-left:50px;
  }
  
  .weekAxis .tick line, .yaxis .tick line, .y .tick line {
          display:none;
      }
  
  .weekAxis line {
    display: none;
  }
  .xAxis text{
    fill:#e6e9ed !important
  }  
  
  .xAxis path {
          stroke: e6e9ed !important;
  }
  
  .selectedCircles {
    fill: black !important;
  }
  
  #categoryHeader {
    float:left;
    margin-top:30px;
    /*font-family: "Lucida Sans Unicode";*/
    color:#DE8D68;
    font-weight:100;
    font-size:18px;
  }
  
  #cat {
    width:50%;
    margin-top:70px;
    margin-left:-20px;
  }
  
  li {list-style-type: none;}
  
  .gridHeader {
    float: left;
    margin-left: 110px;
  }
  
  .fileUpload {
    font-size:12px;
    color: black;
    border-radius:5px;
    margin-top:5px;
    width:100px;
    height:20px;;
    background-color:white;
    border: 1px solid #ccc;
      cursor: pointer;
  }
  
  input[type="file"] {
      display: none;
  }
  
  .swatch{
    border-radius: 50%;
    height:20px;
    width: 20px;
    position:absolute;
    cursor: pointer;
  }
  
  .clicked {
    fill: cadetblue !important;
  }
  
  .headers, #cat, .weekDate {
    font-size: 8px;
    
  }
  
  .weekbrush .selection{
    fill: white !important;
    stroke:lightgray;
    /*stroke: #DE8D68 !important;*/
  }
  
  .brush .selection {
    fill: none;
    stroke: #80878F !important; 
  }
  
  #chart {
    border: 1px solid lightgrey;
  }

  .showingDrawings {
    border: 1px solid #80878F !important;
    /*background-color: RGBA(206,174,68,0.08);*/
   
  }
  
  .selected {
    fill: #007bff !important;
    fill-opacity: 0.1;
  }
  
  .tooltipz{
    display: none;
    position: absolute;
    display:block;
    width:20px;
    height:15px;
    z-index: 1000;
    background-color: white;
    font-size:8px;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  
  .tooltipz > p {
    color: black;
    margin-left: 5px;
    /*margin-top: -2px;*/
    text-align: center;
  }
  
  .repChooser{
    width:48%
  }
  
  .prop {
    float: left;
  }
  
  #selector {
    margin-left: 10px; 
    fill: none;
  }
  
  #categoryOverview{
      margin-left:20px;
  }
  
  .brush {
    min-width: 100px;
  }
  
  ul {
    list-style-type: none;
  }
  
  .card-list {
    display: grid;
    grid-gap: 1em;
  }
  
  .card-item {
    border-radius: 5px;
    margin-left:-20px;
    width:85px;
    height:24px;
    /*border: 1px solid grey*/
  }
  
  /* GRID STYLING */ 
  .upper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    flex-direction: row;
  }
  
  .lower {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    flex-direction: row;
  }
  
  .left {
    flex: 66%;
    max-width:66%;
    /*padding: 0 4px;*/
  }
  .right {
    flex: 33%;
    max-width:33%;
    /*padding: 0 4px;*/
  }
.chosenColor {
  margin-top: 7px;
  margin-right: -8px;
}

#dropdownicon{
  margin-left: -598px;;
  margin-top:24px;
}
  .color-list {
    height:30px;
    width:220px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
  }

  .color {
    flex: 8%;
  }

  .color-item {
    margin:2px;
  }
  /* small multiples*/
  
  .rows {
   margin-top:10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    flex-direction: row;
    float:right;
  }
  .categoryPicker {
    margin-bottom:34px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    margin-top:10px;
    margin-right:2px;
    flex: 48%;
    max-width:48%;
    /*padding: 0 4px;*/
  }
  
  .column img {
    vertical-align: middle;
    
  }
  .slick-slide {
    height:500px;
 }
 .draggable {
    height: 391px !important;
 }
  
  .smallMutipless{
    position: absolute;
    margin-top:-100px;
  }

  .slick-prev:before, .slick-next:before{
    color:lightgrey;
}
.slick-prev:before {
  margin-top:-200px;
}

.slick-prev {
  margin-top:-215px;
  margin-left:207px;
  transform: rotate(90deg);
  right:185px;
}

.slick-next {
  margin-top:198px;
  margin-left:180px !important;
  right:185px;
  transform: rotate(90deg);
}

.categoryText {
  margin-left:25px;
  margin-top:4px;
  color: black;
}